{{ define "main" }}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-9">
      {{ .Scratch.Set "breadcrumbs" (slice (dict "title" "Главная" "url" "/rating/") (dict "title" "О проекте" "url" "")) }}
      {{ partial "breadcrumbs.html" . }}
      <h1>{{ .Title }}</h1>
      <p class="lead">{{ .Params.description }}</p>
      <div class="content">
        {{ .Content }}
      </div>

      <h2>Связаться с нами</h2>
      <form name="about-contact" method="POST" action="/thanks/" data-netlify="true" netlify-honeypot="bot-field">
        <input type="hidden" name="form-name" value="about-contact">
        <p hidden>
          <label>Don’t fill this out: <input name="bot-field"></label>
        </p>

        <div class="form-group">
          <label for="name">Имя</label>
          <input id="name" name="name" type="text" required>
        </div>

        <div class="form-group">
          <label for="contact">Контакт</label>
          <input id="contact" name="contact" type="text" required>
        </div>

        <div class="form-group">
          <label for="message">Сообщение</label>
          <textarea id="message" name="message" rows="5" required></textarea>
        </div>

        <button class="button button-primary" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
{{ end }}
