<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ $isRatingHome := and (eq $currentPage.RelPermalink "/") (eq .URL "/rating/") }}
    {{ $isActive := or $isRatingHome ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) (eq $currentPage.RelPermalink .URL) }}
    <li class="menu-item-{{ .Name | lower }}{{ if $isActive }} active{{ end }}">
      <a href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
      {{ if .HasChildren }}
        <ul>
          {{ range .Children }}
            <li class="menu-item-{{ .Name | lower }}{{ if $currentPage.IsMenuCurrent "main" . }} active{{ end }}">
              <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ .Name }}</span>
              </a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
    </li>
    {{end}}
  </ul>
</div>
