{{ define "main" }}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-9">
      <h1>{{ .Title }}</h1>
      <p class="lead">{{ .Params.description }}</p>
      <div class="content">
        {{ .Content }}
      </div>
      <div class="row">
        {{ range .Pages }}
          <div class="col-12 col-md-6 mb-4">
            <div class="service service-summary">
              <div class="service-content">
                <h2 class="service-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
                <p>{{ .Params.description }}</p>
                <a class="button button-primary" href="{{ .RelPermalink }}">Смотреть список</a>
              </div>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
